@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.pure-form{
  position: absolute;
  top: 25%;
  left: 43%;
  width: min-content;
  text-align: center;
}

.errors{
  color: red;
  font-size: small;
}
button{
  width: 180px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  background-color: rgb(30, 70, 37);
  background-image: linear-gradient(to left, #37c56d, #07693c);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#login{
  text-decoration: none;
  width: 65px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  background-color: rgb(35, 91, 45);
  background-image: linear-gradient(to right, #13b350, #054b2a);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.Register{
  height: 100vh;
    background-image: url(./components/plants.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#registerButton{
  text-decoration: none;
  width: 95px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  background-color: rgb(35, 91, 45);
  background-image: linear-gradient(to right, #13b350, #054b2a);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.Login{
  height: 100vh;
    background-image: url(./components/plants.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*********AddPlant********/
.add{
  margin-top: 10%;
  border-radius: 8px;
}
.plantWrap{
    /* background: url(./components/pawel-czerwinski-lWBZ01XRRoI-unsplash.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    /* Set up positioning */
    position: fixed;
}

.card{
  padding: 20px;
  margin: 20px;
  background-color: rgb(132, 226, 136);
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  opacity:.9

}
.needwater{
  border: red solid 6px;
  padding: 20px;
  margin: 20px;
  background-color: lightgreen;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}


.wrapper{
  display: flex;
  flex-wrap: wrap;
}
#water{
margin-bottom: 30px;
background-color: darkblue;
background-image: linear-gradient(to right, darkblue, lightblue);
box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}
#del{

background-color: red;
background-image: linear-gradient(to right, red, crimson);
box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}
#add{
  text-align: center;
  padding: 20px;
  background-color: green;
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  
}
#plimg{
  height: 220px;
  margin-bottom: 20px;
}
#input{
  margin-top: 20px;
  margin-bottom: 20px;
}
#input:focus {
  outline: none;
  border: 2px solid;
  border-color: rgb(157, 255, 0);
}
h4{
  color: #054b2a;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}
h3{
  color: blue;
  font-family: 'Comfortaa', cursive;
}

.list{
    height: 100vh;
    background-image: url(./components/pawel-czerwinski-lWBZ01XRRoI-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}